$--color-primary: #3E8EF7;

// Sidebar
$sidebar--background-color-dark: rgba(37, 38, 41, 1);
$sidebar--color-text-dark: rgba(255, 255, 255, 1);

// Navbar
$navbar--background-color: $sidebar--background-color-dark;


// Content
$site--content--background-color: rgba(240, 242, 245, 1);

$content--background-color: rgba(255, 255, 255, 1);
