@font-face {
    font-family: 'YouSheBiaoTiHei';
    src: url('YouSheBiaoTiHei.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-BoldItalic';
    src: url('DIN-BoldItalic.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFangSC-Regular';
    src: url('PingFangSC-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFangSC-Medium';
    src: url('PingFangSC-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PingFangSC-Semibold';
    src: url('PingFangSC-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}
